

body {
    font-family: "Open Sans", Arial, sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }
  
  * {
    margin: 0px;
    padding: 0px;
  }
  
  .header {
    height: 448px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/banner-bg.jpg")
    no-repeat center center;
    background-size: cover;
  }
  
  .wrap {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
  }
  
  .nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .nav_link:hover {
    text-decoration: underline;
    color: #ffffff;
  }

  .nav a {
    color: #ffffff;
    text-decoration: none;
  }
  
  .nav ul {
    display: flex;
    list-style-type: none;
  }
  
  .nav li {
    padding-right: 33px;
    font-size: 13px;
    text-transform: uppercase;
  }
  
  .logo img {
    width: 180px;
    height: 40px;
    padding-left: 3px;
    padding-top: 28px;
  }
  
  .tagline {
    width: 715px;
    text-align: center;
    margin: 0 auto;
    margin-top: 65px;
  }
  
  h1 {
    font-size: 45px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
  }
  
  .now-trends {
    font-size: 20px;
    font-weight: bold;
    color:#0e0c0d;
    text-align: center;
    margin: auto;
    margin-top: 59px;
    margin-bottom: 45px;
    text-transform: uppercase;
  }

  .now-trends::after {
    content: "";
    position: absolute;
    margin: auto;
    margin-top: 33px;
    width: 66px;
    height: 3px;
    background-color: #b59f5b;
    left: 50%;
    transform: translateX(-50%);
    }

  .trends {
    width: 100%;
    display: flex;
    justify-content:center;
    position: relative;
    gap: 4px;
  }

  .post-trend {
    width: 414px;
    min-height: 320px;
    display: flex;
    align-items: flex-end;
    position: relative;
    text-align: center;
    color: white;
    text-decoration: none;  
  }

 .garden {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/trend1.jpg")no-repeat center center;
  }

 .cheeses {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/trend2.jpg")no-repeat center center;
  }

 .hike {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/trend3.jpg")no-repeat center center;
  }

 .lemons {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/trend4.jpg")no-repeat center center;
  }

  .tegs-trnd {
    list-style: none;
    display:flex;
    justify-content: flex-start;
    flex-direction:row;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 30px;
    padding-top: 30px;
    margin-bottom: 16px;
  }

  .tegs-trnd a {
    color: #b59f5b;
    text-decoration: none;
  }

  .tegs-trnd a:hover {
    text-decoration: underline;
    text-decoration-color: #b59f5b;
  }
  
  .tegs-trnd ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
  }
  
  .tegs-trnd li {
    padding-right: 20px;
    font-size: 14px;
    text-transform: uppercase;
  }

  .post-trend h2 {
    color: #ffffff;
    font-size: 20px;
    margin: 0 32px;
    text-align: left;
    text-transform: uppercase;
  }

  .box-trend {
    position: relative;
    border: solid 3px;
    color: #8f845d;
    margin-left: 21px;
    margin-right: 21px;
    margin-bottom: 15px;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .trnd_heads:hover {
    color: #b59f5b;
  }

  .content {
    display: flex;
    justify-content: center;
    max-width: 1170px;
    margin: auto;
    margin-top: 65px;
    padding: 0px 15px;
  }
  
  .post {
    width: 778px;
    display: flex;
    margin-bottom: 59px;
    margin-left: 15px;
  }
  
  .post:last-child {
    margin-bottom: 0px;
  }
  
  .post_card {
    width: 367px;
    margin-left: 30px;
  }
  
  .post img {
    width: 381px;
    height: 294px;
  }
  
  .post h2 {
    color: #0f0d0e;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 36px;
    text-transform: uppercase;
  }
  
  .tags {
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .tags a {
    color: #b59f5b;
  }
  
  .tags ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
  }
  
  .tags li {
    padding-right: 19px;
    font-size: 14px;
  }
  
  .meta {
    margin-bottom: 55px;
  }
  
  .meta time {
    color: #909090;
    margin-right: 14px;
  }
  
  .meta span {
    font-weight: bold;
  }
  
  .container {
    width: 272px;
    margin-left: 120px;
  }
  
  .news-title {
    position: relative;
    width: 272px;
    height: 27px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #0f0d0e;
    margin-bottom: 29px;
  }
  
  .news-title::after {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 66px;
    height: 3px;
    background-color: #b59f5b;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .sidebar img {
    margin-right: 20px;
    width: 70px;
    height: 70px;
  }
  
  .sidebar-date {
    margin-bottom: 10px;
    font-size: 12px;
  }
  
  .sidebar-date time {
    color: #909090;
  }
  
  .sidebar {
    display: flex;
    margin-bottom: 22px;
    width: 272px;
  }
  
  a {
    text-decoration: none;
  }
  
  .sidebar_card {
    width: 182px;
    font-size: 14px;
    line-height: 1;
  }
  
  .sidebar_card h3 {
    font-size: 14px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
  }
  
  .newsletter {
    display: flex;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 62px;
  }
  
  .search-input {
    width: 223px;
    height: 48px;
    padding-left: 19px;
    background-color: #f3f7f5;
    font-size: 13px;
    border: none;
    outline: none;
  }

  .search-input:focus {
    border: 1px solid #b59f5b;
    box-sizing: border-box;
  }

  .search-button {
    width: 48px;
    height: 48px;
    background-color: #b59f5b;
    border: none;
    padding: 15px;
  }
 
  .search-button:hover {
    background-color: #323232;
  }

  .search-button:active {
    transform: scale(0.95);
  }
  
  .subscribe_box {
    display: flex;
    flex-direction: column;
    margin-bottom: 62px;
  }
  
  input[type="email"] {
    width: 271px;
    height: 49px;
    box-sizing: border-box; 
    border: none;
    background-color: #f3f7f5;
    margin-bottom: 14px;
    font-size: 13px;
    padding-left: 19px;
    border: none;
    outline: none;
  }

  input[type="email"]:focus {
    border: 1px solid #b59f5b;
    box-sizing: border-box;
  }
  
  .subscribe-input {
    width: 275px;
    height: 49px;
    background-color: #b59f5b;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    border: none;
  }
  
  .subscribe-input:hover {
    background-color: #323232;
  }

  .subscribe-input:active {
    transform: scale(0.95);
  }
  
  .line_news_list {
    width: 66px;
    height: 3px;
    background-color: #b59f5b;
    margin-bottom: 24px;
    margin-left: 106px;
  }
  
  .news_list_tegs {
    width: 100%;
  }
  
  .news_list_tegs ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 0;
    margin-bottom: 60px;
  }
  
  .news_list_tegs li {
    border: 3px solid #ededed;
    padding: 7px 14px;
    transition: all 0.5s;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .news_list_tegs li:hover {
    border-color: #b59f5b;
  }
  
  li a {
    color: #0e0c0d;
  }
  
  .line_topic {
    width: 66px;
    height: 3px;
    background-color: #b59f5b;
    margin-bottom: 25px;
    margin-left: 106px;
  }
  
  .topics ul {
    list-style-type: none;
    display: flex;
    gap: 5px;
    flex-direction: column;
  }
  
  .topics_category:hover{
    color: #b59f5b;
  }

  .topics li {
    width: 287px;
    height: 47px;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid #eeeeee;
    display: flex;
    align-items: center;
  }
  .topics li:hover {
    color:#b59f5b;
  }
  .topics span {
    margin-left: 5px;
    color: #b59f5b;
  }

  .our-products {
    font-size: 20px;
    font-weight: bold;
    color:#0e0c0d;
    text-align: center;
    margin: auto;
    margin-top: 59px;
    margin-bottom: 45px;
    text-transform: uppercase;
  }

  .our-products::after {
    content: "";
    position: absolute;
    margin: auto;
    margin-top: 33px;
    width: 66px;
    height: 3px;
    background-color: #b59f5b;
    left: 50%;
    transform: translateX(-50%);
  }

  .products {
    display: flex;
    justify-content: center;
  }

  .product {
    display: flex;
    flex-direction: column;
    margin: 0 55px;
  }

  .foto-product {
    width: 300px;
    display: flex;
    flex-direction: column;
  }

.content-product {
    outline: 3px solid #b59f5b;
    outline-offset: 20px;
    margin-top: -10px;
    padding-top: 25px;
    flex-grow: 1;
  }

.content-product h2{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 7px;
    text-transform: uppercase;
}

.content-product p {
    font-size: 15px;
}

.content-product a {
    color: #b59f5b;
    font-size: 15px;
}

.shop {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 24px;
}

.in_shop-input{
    width: 140px;
    height: 49px;
    background-color: #b59f5b;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    border: none;
    text-transform: uppercase;
}

.in_shop-input:active{
  transform: scale(0.95);
}

.old_price span {
    font-size: 14px;
    text-decoration: line-through;
    font-weight: bolder;
    text-transform: uppercase;
}

.money_old_price span{ 
    font-weight: bolder;
    text-transform: uppercase;
}


.current_price span {
    font-size: 20px;
    font-weight: bolder;
    text-transform: uppercase;
}

.money_current_price span {
    font-weight: bolder;
    font-size: 20px;
    text-transform: uppercase;
}

  .footer {
    width: 1170px;
    height: 82px;
    background-color: #f4f7f6;
    margin: auto;
    margin-top: 90px;
    margin-bottom: 74px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  .socials {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  
  .socials-link {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  
  .socials-link-dribbble {
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/001-dribbble.svg");
  }
  
  .socials-link-pinterest {
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/002-pinterest.svg");
  }
  
  .socials-link-tumblr {
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg");
  }
  
  .socials-link-text {
    display: none;
  }

  @media (min-width: 641px) and (max-width: 1200px) {
    .header {
      height: 392px;
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/banner-bg-tablet.jpg")
      no-repeat center center;
      background-size: cover;
    }

    .wrp {
      display: flex;
    }

    .nav {
      visibility: hidden;
   }

    #menu {
      display: flex;
    } 
    
    .burger_menu {
      display: flex;
      flex-direction: column;
      cursor: pointer;
      align-items: flex-end;
      padding-right: 35px;
      margin-top: -36px;
      
    }
    
    .burger_menu span {
      background-color: #ffffff;
      height: 4px;
      width: 54px;
      margin: 4px;
      transition: all 0.3s;
    }


    .trends {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content:center;
      position: relative;
      gap: 4px;
    }
    .post-trend {
      width: 49%;
      min-height: 247px;
    }
    
 .garden {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/trend1.jpg") no-repeat center center;
  background-size: cover;
}

.cheeses {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/trend2.jpg") no-repeat center center;
  background-size: cover;
}

.hike {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/trend3.jpg") no-repeat center center;
  background-size: cover;
}

.lemons {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/trend4.jpg") no-repeat center center;
  background-size: cover;
}

.content {
  padding: 0 36px;
  max-width: 100%;
  margin: 0;
  margin-top: 50px;
}

.post {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.post_card {
  width: 381px;
  margin-left: 0px;
}

.post img {
  width: 381px;
  background-size: cover;
  
}
.container {
  width: 272px;
  margin-left: 35px;
}
.products {
  flex-wrap: wrap;
  justify-content: center;

}

.product {
  margin-top: 30px;
}  

.our-products {
  margin-bottom: 15px;
}

.foto-product {
  max-width: 292px;
}

.footer {
  width: 100%;
  margin: auto;
  margin-top: 90px;
  margin-bottom: 74px;
  display: flex;
  justify-content: center;
  text-align: center;
}
}

 @media (max-width: 640px) {

.wrap {
  height: 100%;
}

.nav {
   visibility: hidden;
}
  
.logo img {
  position: absolute;
  left: 12.5%;
  top: 19.5%;
  width: 75%;
  height: auto;
}

.tagline {
  position: absolute;
  width: 75%;
  margin: 0px;
  left: 12.5%;
  top: 30%;
  width: 75%;

}

h1 {
  font-size: 26px;
}


.header {
  width: 100%;
  height: 1135px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/banner-mobile.jpg") no-repeat center center;
  background-size: cover;
}

.trends {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  gap: 4px;
}
.post-trend {
  width: 100%;
  max-height: 232px;
  position: relative;
}

.box-trend {
 width: 100%;
}

.garden {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/trend1.jpg") no-repeat center center;
  background-size: cover;
}

.cheeses {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/trend2.jpg") no-repeat center center;
  background-size: cover;
}

.hike {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/trend3.jpg") no-repeat center center;
  background-size: cover;
}

.lemons {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/trend4.jpg") no-repeat center center;
  background-size: cover;
}

.posts {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.post {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px;
}

.post img {
  width: 100%;
  height: 100%
}

.post_card {
  width: 100%;
  margin-left: 0px;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  margin-top: 43px;
  padding: 0px 15px;
}

.container {
  width: 100%;
  margin-left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.news-title {
  width: 100%;
  height: 27px;
  margin-bottom: 29px;
}

.section-sidebar {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.sidebar_card {
  width: 100%;
}
  
.sidebar {
  width: 100%;
}

.sidebar img {
  width: 70px;
  height: 70px;
}

.search-input {
  width: 100%;

}

input[type="email"] {
  width: 100%;
  
}

.subscribe-input {
  width: 100%;
}

.news_list_tegs ul {
  justify-content: center;
}

.products {
  width: 100%;
  padding: 0 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}

.product {
  width: 310px;
  margin-bottom: 47px;
  margin-left: auto;
  margin-right: auto;
}

.foto-product {
  width: 290px;
  height: auto;
  justify-content: center;
}

#menu {
  display: flex;
} 

.burger_menu {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  align-items: flex-end;
  padding-right: 16px;
  padding-top: 31px;
}

.burger_menu span {
  background-color: #ffffff;
  height: 3px;
  width: 23px;
  margin: 4px;
  transition: all 0.3s;
}












.footer {
  width: 100%;
  margin: auto;
  margin-top: 90px;
  margin-bottom: 74px;
  display: flex;
  justify-content: center;
  text-align: center;
}
}